*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 45px 240px 45px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* Nav bar section  */
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.title-color{
    color: #FF42A5;
}
.menus{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menus li{
    list-style: none;
    margin-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.li-icon{
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.li-icon i{
    font-size: 24px;
}

/* Banner Section Start Here  */
.banner-section{
    padding: 0px 240px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-title{
    color: #0B0223;
    font-size: 48px;
    text-transform: uppercase;
}
.main-title{
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 24px;
}
.lg{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description{
    margin-bottom: 16px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.btn{
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 41px;
}
.btn-1{
    background: #FF42A5;
}
.btn-2{
    background: #4EC5F7;
}
/* Online games section  */
main{
    padding: 120px 240px;
}
.og-text{
    text-align: center;
    margin-bottom: 48px;
}
.og-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 900;
    padding: 10px;
}
.og-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.og-img{
    display: flex;
    gap: 18px;
}
.card{
    position: relative;
    width: 100%;
}
.og-container{
    margin-bottom: 24px;
    position: relative;
    width: 100%;
}
.og-img .card-img{
    opacity: 1;
    width: 100%;
    border-radius: 16px;
}
.middle {
    width:100%; height:100%;
    opacity: 0;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.6);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
    border: 5px solid #ec2ea0;
}
.og-container:hover .card-img {
    opacity: .8;
    border: 5px solid #ec2ea0;
}
  
.og-container:hover .middle {
    opacity: 1;
}
.text {
    margin-top: 45%;
    color: #FF42A5;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
}
.og-img .card p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
@media screen and (max-width: 576px) {
    header{
        padding: 45px 20px 45px 20px;
    }
    nav{
        flex-direction: column;
        gap: 62px;
    }
    .menus{
        flex-direction: column;
        gap: 36px;
    }
    .menus .li-icon{
        margin-top: 50px;
    }
    /* Banner Section  */
    .banner-section{
        padding: 0px 20px;
        width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .first-title{
        font-size: 40px;
        text-align: center;
    }
    .main-title{
        font-size: 80px;
        text-align: center;
    }
    .banner-description{
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }
    .btn{
        padding: 15px 30px;
        font-size: 18px;
        text-align: center;
    }
    .banner img{
        width: 100%;
        text-align: center;
    }
    main{
        padding: 50px 20px;
    }
    .og-img{
        flex-direction: column;
        gap: 18px;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
    }
    .og-title{
        font-size: 27px;
        font-weight: 800;
        padding: 5px;
    }
    .og-description{
        font-size: 13px;
    }
    .og-container{
        margin-bottom: 10px;
    }
    .og-img .card p{
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }
}