*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 45px 240px 45px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* Nav bar section  */
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.title-color{
    color: #FF42A5;
}
.menus{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menus li{
    list-style: none;
    margin-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.li-icon{
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.li-icon i{
    font-size: 24px;
}

/* Banner Section Start Here  */
.banner-section{
    padding: 0px 240px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-title{
    color: #0B0223;
    font-size: 48px;
    text-transform: uppercase;
}
.main-title{
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 24px;
}
.lg{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description{
    margin-bottom: 16px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.btn{
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 41px;
}
.btn-1{
    background: #FF42A5;
}
.btn-2{
    background: #4EC5F7;
}
/* Online games section  */
main{
    padding: 120px 240px;
}
.og-text{
    text-align: center;
    margin-bottom: 48px;
}
.og-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 900;
    padding: 10px;
}
.og-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.og-img{
    display: flex;
    gap: 18px;
}
.card{
    position: relative;
    width: 100%;
}
.og-container{
    margin-bottom: 24px;
    position: relative;
    width: 100%;
}
.og-img .card-img{
    opacity: 1;
    width: 100%;
    border-radius: 16px;
}
.middle {
    width:100%; height:100%;
    opacity: 0;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.6);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
    border: 5px solid #ec2ea0;
}
.og-container:hover .card-img {
    opacity: .8;
    border: 5px solid #ec2ea0;
}
  
.og-container:hover .middle {
    opacity: 1;
}
.text {
    margin-top: 45%;
    color: #FF42A5;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
}
.og-img .card p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
/* Play Instantly Section Start Here  */
.play-section{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-content{
    text-align: right;
}
.play-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-description{
    max-width: 353px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.play-img{
    position: relative;
}
.play-img-badge{
    position: absolute;
    bottom: -75px;
    left: -145px;
}
/* Games Catagory Section Start Here  */
.catagory-container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    flex-wrap: wrap;
}
.catagory-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #FFF;
}
.catagory-box:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
/* Footer Section Start Here  */
footer{
    background: #0A0826;
    text-align: center;
    color: #FFF;
}
footer .logo{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-title{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.important-link{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 50px;
}
.important-link a{
    text-decoration: none;
    color: #FFF;
    margin-left: 60px;
}
.social{
    padding-top: 15px;
    padding-bottom: 60px;
}
.social .fab{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
}
.term-policy{
    margin-bottom: 28px;
}
.term-policy small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 130px;
}
/* Mobile Design Responsive  */
@media screen and (max-width: 576px) {
    header{
        padding: 45px 20px 45px 20px;
    }
    /* Nav Bar Section start Here  */
    nav{
        flex-direction: column;
        gap: 50px;
    }
    .menus{
        flex-direction: column;
        gap: 36px;
    }
    .menus .li-icon{
        margin-top: 40px;
    }
    /* Banner Section  */
    .banner-section{
        padding: 0px 20px;
        width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .first-title{
        font-size: 40px;
        text-align: center;
    }
    .main-title{
        font-size: 80px;
        text-align: center;
    }
    .banner-description{
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }
    .btn{
        padding: 15px 30px;
        font-size: 18px;
        text-align: center;
    }
    .banner img{
        width: 100%;
        text-align: center;
    }
    /* Online Games Section Start Here  */
    main{
        padding: 50px 20px;
    }
    .og-img{
        flex-direction: column;
        gap: 18px;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
    }
    .og-title{
        font-size: 27px;
        font-weight: 800;
        padding: 5px;
    }
    .og-description{
        font-size: 13px;
    }
    .og-container{
        margin-bottom: 10px;
    }
    .og-img .card p{
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }
    /* Play Instant Section Start here  */
    .play-section{
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
    }
    .play-content{
        text-align: center;
    }
    .play-title{
        font-size: 28px;
        line-height: 30px;
    }
    .play-description{
        max-width: 100%;
        font-size: 15px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .play-img{
        width: 90%;
    }
    .play-img img{
        max-width: 100%;
        
    }
    .play-img-badge{
        bottom: -75px;
        left: -50px;
    }
    .play-img-badge img{
        max-width: 60%;
    }
    /* Games Catagory Section Start Here  */
    .catagory-container{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        width: 100%;
    }
    .catagory-box img{
        width: 30%;
    }
    .catagory-box h3{
        font-size: 10px;
    }
    /* footer section start here  */
    footer .logo{
        padding-top: 100px;
    }
    .important-link{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .important-link a{
        margin-left: 0px;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(3, 90px);
        justify-content: center;
        row-gap: 25px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .term-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 25px;
    }
    .term-policy small{
        font-size: 15px;
        margin-left: 0px;
    }
    .footer-description{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-bottom: 100px;
    }
}
/* Tablet Device Responsive  */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header{
        padding: 45px 20px 45px 20px;
    }
    /* Nav Bar Section start Here  */
    nav{
        flex-direction: column;
        gap: 50px;
    }
    .menus{
        justify-content: center;
        gap: 30px;
    }
    /* Banner Section  */
    .banner-section{
        padding: 0px 20px;
        width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .banner img{
        width: 100%;
        text-align: center;
    }
    /* Online Games Section Start Here  */
    main{
        padding: 50px 20px;
    }
    .og-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        justify-content: center;
        margin: 0 auto;
    }
    /* Play Instant Section Start here  */
    .play-section{
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }
    .play-content{
        text-align: center;
    }
    .play-description{
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .play-img{
        width: 80%;
    }
    .play-img img{
        max-width: 100%;
    }
    .play-img-badge{
        bottom: -75px;
        left: -80px;
    }
    .play-img-badge img{
        max-width: 80%;
    }
    /* Games Catagory Section Start Here  */
    .catagory-container{
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        width: 100%;
    }
    .catagory-box h3{
        font-size: 14px;
    }
    /* footer section start here  */
    footer .logo{
        padding-top: 100px;
    }
    .important-link{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        margin-top: 50px;
    }
    .important-link a{
        margin-left: 0px;
    }
    .term-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 25px;
    }
    .footer-description{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}